.todo-app { max-width: 670px; }

.form-container { padding: 1px; }

.task-container { background-color: #edefee; padding: 10px; margin: 20px 0; }

.task-container .style-table { background-color: white; margin: 0; border: 1px solid #d1d1d1; }

.task-container .style-table .style-thead { color: white; background-color: #47422c; }

.task-container .style-table .style-thead .style-th { border: none; font-weight: normal; font-size: 14px; box-sizing: border-box; height: 50px; padding-top: 0; padding-bottom: 0; line-height: 50px; }

.task-container .style-table .style-thead .task-name-th { width: 60%; }

.task-container .style-table .style-thead .priority-th { width: 20%; }

.task-row { font-size: 14px; }

.task-row .cell { padding-top: 6px; padding-bottom: 0; line-height: 45px; border-color: #d1d1d1; }

.task-row .trash-visible { display: none; }

.task-row:hover .trash-visible { display: block; cursor: pointer; font-size: 18px; line-height: 45px; height: 45px; }
